@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

body, html {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #ddd;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #333;
}

.header > div {
    padding: 0px 10px;
}

.header > div > a {
    margin: 10px;
    text-decoration: none;
    color: #fff;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .login input, .login button {
        width: 100%;
        height: 30px;
        margin-bottom: 5px;
        border: none;
        padding: 0px 10px;
        box-sizing: border-box;
    }

    .login input:focus {
        outline: 0;
    }

.chat,
.profile,
.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .profile > div {
        width: 450px;
    }

.postsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.postForm,
.chat > div,
.profile > div,
.settings > div {
    margin-top: 50px;
}

.postForm,
.postSort,
.postsLoadMore {
    height: 40px;
}

.postSort,
.post,
.postsLoadMore {
    margin-top: 10px;
}

.postForm,
.postSort,
.post,
.postsLoadMore {
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;
    width: 450px;
}

.post {
    height: 650px;
    overflow-x: hidden;
}

.postContent {
    width: 450px;
    height: 450px;
    background-color: #777;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
}

.commentForm {
    justify-self: flex-end;
    border-top: solid 1px #aaa;
}

    .commentForm textarea {
        width: 98%;
        height: 30px;
        border: none;
        padding: 5px 10px;
        overflow-wrap: break-word;
        color: #333;
        font-family: 'Noto Sans', sans-serif;
        resize: none;
    }

    .commentForm textarea:focus,
    .commentForm input:focus {
        outline: 0;
    }

    .commentForm input {
        border: none;
        background: none;
    }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100%;
    height: 30px;
    background-color: #000;
    color: #fff;
}

    .footer a {
        color: #fff;
        text-decoration: none;
    }