@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

body, html {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #ddd;
    min-width: 740px;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(42, 7, 96);
}

    .header > div {
        padding: 0px 10px;
    }

    .logo, .logo > a {
        color: #fff;
        text-decoration: none;
        font-family: 'Great Vibes', cursive;
        font-size: 30px;
        padding: 5px 0px;
        margin-left: 10px;
    }

    .navItems > a > i, .navItems > i {
        margin: 10px;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        transition: 0.5s;
        cursor: pointer;
    }

    .navItems > a > i:hover {
        bottom: 5px;
    }

    .navHeader {
        display: flex;
        position: absolute;
        background-color: #fff;
        width: 200px;
        border: solid 1px #ddd;
        border-radius: 0px 0px 5px 5px;
        z-index: 10;
    }

        .navHeader ul, .profileNav ul {
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;
        }
        
        .navHeader ul li, .profileNav ul li {
            padding: 10px;
            font-size: 15px;
            width: 100%;
            margin-left: -10px;
            cursor: pointer;
        }

        .navHeader ul li:hover, .profileNav ul li:hover {
            background-color: #eee;
        }

        .navHeader ul a, .profileNav ul a {
            color: #000;
            text-decoration: none;
            width: 100%;
        }

.login, .signup {
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(42, 7, 96);
}

    .login input,
    .login button,
    .signup input,
    .signup button {
        width: 100%;
        height: 30px;
        margin-bottom: 5px;
        border: none;
        padding: 0px 10px;
        box-sizing: border-box;
        transition: 0.5s;
    }

    .login input:focus,
    .signup input:focus {
        outline: 0;
    }

    .login button:hover,
    .signup button:hover {
        background-color: #777;
        color: #fff;
        cursor: pointer;
    }

.signupLink > a, .signup > div > a {
    color: #fff;
    text-decoration: none;
}

.chat,
.profile,
.profileMini,
.settings,
.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .profile > div {
        width: 450px;
    }

.profileMini {
    margin-left: 15px;
    background-color: #fff;
    width: 230px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.postsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.postForm,
.profileMini,
.chat > div,
.profile > div,
.settings > div,
.notFound > div {
    margin-top: 60px;
}

.postForm,
.postSort,
.postsLoadMore {
    height: 40px;
}

.postSort,
.post,
.postsLoadMore {
    margin-top: 15px;
}

.postSort,
.post,
.postsLoadMore {
    /* border: solid 1px #aaa; */
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px 2px #ccc; */
    background-color: #fff;
    width: 450px;
}

    .postForm {
        border-radius: 5px;
        /* box-shadow: 0px 0px 5px 2px #ccc; */
        background-color: #fff;
        width: 100%;
        overflow: hidden;
    }

    .postForm input,
    .profileEdit input {
        width: 100%;
        height: 100%;
        border: none;
        box-sizing: border-box;
        padding: 10px;
    }

        .profileEdit input {
            border: solid 1px #ddd;
            margin-bottom: 15px;
        }

    .postForm input:focus,
    .profileEdit input:focus {
        outline: 0;
    }

.post {
    height: 650px;
    overflow-x: hidden;
}

.postContent {
    width: 450px;
    height: 450px;
    background-color: #777;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}

.commentForm {
    justify-self: flex-end;
    border-top: solid 1px #aaa;
}

    .commentForm textarea {
        width: 98%;
        height: 30px;
        border: none;
        padding: 5px 10px;
        overflow-wrap: break-word;
        color: #333;
        font-family: 'Noto Sans', sans-serif;
        resize: none;
    }

    .commentForm textarea:focus,
    .commentForm input:focus {
        outline: 0;
    }

    .commentForm input {
        border: none;
        background: none;
    }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100%;
    height: 30px;
    background-color: rgb(42, 7, 96);
    color: #fff;
}

    .footer a {
        color: #fff;
        text-decoration: none;
    }